h1{
    background-color: black;
    color:white;
    text-align: left;
}
span{
    color:cyan;
}
h2{
    font-style:italic;
    color: white;
    background-color: purple;
    text-align: center;
}
h3{
    color:black;
    text-align: right;
    text-decoration: underline;
    background-color: aquamarine;
}